{<<!--"Début--de--menu"--!>>}

body {
  background-color: #F6F6F6;
  padding: 5px;
}

html{
  background-color: #F6F6F6;
}

.leftbar a {
  color: #0645ad;
}

.leftbar{
  height: 200%;
  margin: 0;
  padding: 0;
  width: 10em;
  border-right: 0.5px solid #a7d7f9;
  box-shadow: 6px 6px 6px black inset;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  display: block;
  width: 10em;
  height: 160px;
  border:0px solid red;
  background-color: #f6f6f6;
}

.logo img {
  width: 140px;
  height: 160px;
  padding-left: 5%;
}

.leftbar .leftmenu{
  height: 100%;
  margin: 0;
  padding: 6px;
  background-color: #f6f6f6;
}


.leftbar .leftmenu li{
  font-size:0.75em;
  line-height: 1.125rem;
  padding-left: 0.5em;
  list-style: none;
  text-decoration: none;
}

.leftbar .leftmenu ul {
  padding-left: 0.5em;
}

.leftbar .leftmenu a {
  font-size: 12px;
  text-decoration: none;
}

.leftbar .leftmenu a:hover {
  text-decoration: underline;
}

.leftbar .leftmenu h3 {
  font-size: 0.75em;
  color: #4d4d4d;
  font-weight: normal;
  margin: 0;
  padding: 0.25em 0 0.25em 0.25em;
}

.leftbar .leftmenu hr {
  margin: 10px;
  color: grey;
}

.menu {
  margin: -6px;
  text-align: right;
  background-color: #f6f6f6;
  font-family: arial;
  text-align: right;
  text-decoration: none;
  clear: both;
  margin-right: -3px;
}

.menu a{
  font-family: arial sans-serif;;
  text-decoration: none;
  color: blue;
  font-size: 12px;
  padding: 3px;
}

.menu a:hover{
  text-decoration: underline;
  color: blue;
}

.grey {
  font-size: 11px;
  color: grey;
  font-weight: bold;
}

.menu img{
  width: 12px;
}

.menu a img{
  float: left;
  margin-left: 15px;
}


.barmenuright{
  margin-top: 30px;
  font-size: 13px;
  display: inline-block;
  float: right;
}

.barmenuright a{
  text-decoration: none;
  display: inline-block;
  border-bottom: 0.5px solid #a7d7f9;
  border-left: 0.5px solid #a7d7f9;
  border-right: 0.5px solid #a7d7f9;
  padding: 5px;
  color: #0645ad;
  background-color: #f6f6f6;
}

.gauche{
  margin-top: 30px;
  font-size: 13px;
  display: inline-block;
  float: left;;
  margin-left: 147px;
}

.gauche a{
  text-decoration: none;
  display: inline-block;
  border-bottom: 0.5px solid #a7d7f9;
  border-left: 0.5px solid #a7d7f9;
  border-right: 0.5px solid #a7d7f9;
  padding: 5px;
  color: #0645ad;
  background-color: #f6f6f6;
}

.gauche a:hover{
  text-decoration: underline;
  color: blue;
}
.barmenuright a:hover{
  text-decoration: underline;
  color: blue;
}

input{
  font-size: 13px;
  width: 290px;
  height: 25px;
  border: 1px solid grey;
  margin-right: -0px;
}

#searchInput{
  background-image: url(loupe.jpg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right;
}

.onglet_menu{
  color: #f6f6f6;
}

#active{
  background-color: white;
}

{<<!--"Début--de--l'article"--!>>}

header p{
  padding-left: 155px;
  float: left;
}

.contenu{
  display: block;
  font-family: arial;
  color: black;
  margin-top: 100px;
  margin-left: 152px;
  border-bottom: 0.5px solid #f6f6f6;
}

.contenu h1{
  background-color: white;
  background-size: auto;
  font-size: 30px;
  font-weight: normal;
  margin-top: 35px;
  margin-left: 15px;
  color: grey;
  float: left;
  font-family: "Times New Roman", serif;
  border-bottom: 0.5px solid #DCDCDC;
  border-radius: 0px 10px;
  width: 98%;
}

.article p{
  background-color: white;
  background-size: auto;
  width: 780px;
  font-size: 18px;
  display: inline-flex;
  float: left;
  padding-top: 35px;
}

.tableright{
  text-align: center;
  padding-top: 0px;
  font-size: 12px;
}

.tableright table{
  position:absolute;
  top: 311px;
  right: 16px;
  float: right;;
  text-align: center;
  background-color: #a7d7f9;
  border: 0.5px solid black;
}

.tableright table h2{
  vertical-align: middle;
  background-color: #00008B;
  color: white;
  width: 280px;
  height: 30px;
  margin-top: 0px;
  text-align: center;
}

.tableright table h3{
  background-color: #00008B;
  color: white;
  font-size: 13px;
  width: 280px;
  height: 20px;
  margin-top: 0px;
}

.tableright table td{
  display: inline-block;
  text-align: center;
  margin: auto;
}

.tableright table .black{
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.tableright table .blue{
  color: blue;
  font-size: 13px;
  font-weight: normal;
}

.tableright table .blue:hover{
  text-decoration: underline;
}
